<div class="form-container">
  <form class="form">
    <div class="input-wrapper">
      <div class="input-container">
        <input
          type="text"
          name="First Name"
          placeholder="First Name"
          class="input"
          id="inputName"
        />
        <svg
          class="icon"
          id="nameIcon"
          width="24"
          height="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" fill-rule="evenodd">
            <circle fill="#FF7979" cx="12" cy="12" r="12" />
            <rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1" />
            <rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1" />
          </g>
        </svg>
      </div>
      <span id="errorName" class="error"></span>
    </div>
    <div class="input-wrapper">
      <div class="input-container">
        <input
          type="text"
          name="Last Name"
          placeholder="Last Name"
          class="input"
          id="inputSurname"
        />
        <svg
          class="icon"
          id="surnameIcon"
          width="24"
          height="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" fill-rule="evenodd">
            <circle fill="#FF7979" cx="12" cy="12" r="12" />
            <rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1" />
            <rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1" />
          </g>
        </svg>
      </div>
      <span id="errorSurname" class="error"></span>
    </div>
    <div class="input-wrapper">
      <div class="input-container">
        <input
          type="email"
          name="Email"
          placeholder="Email Address"
          class="input"
          id="inputEmail"
        />
        <svg
          class="icon"
          id="emailIcon"
          width="24"
          height="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" fill-rule="evenodd">
            <circle fill="#FF7979" cx="12" cy="12" r="12" />
            <rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1" />
            <rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1" />
          </g>
        </svg>
      </div>
      <span id="errorEmail" class="error"></span>
    </div>
    <div class="input-wrapper">
      <div class="input-container">
        <input
          type="password"
          name="Password"
          placeholder="Password"
          class="input"
          id="inputPassword"
        />
        <svg
          class="icon"
          id="passwordIcon"
          width="24"
          height="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" fill-rule="evenodd">
            <circle fill="#FF7979" cx="12" cy="12" r="12" />
            <rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1" />
            <rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1" />
          </g>
        </svg>
      </div>
      <span id="errorPassword" class="error"></span>
    </div>
    <button type="submit" class="btn">CLAIM YOUR FREE TRIAL</button>
    <p class="terms">
      By clicking the button, you are agreeing to our
      <a href="#" class="terms-services">Terms and Services</a>
    </p>
  </form>
</div>
